// Button icon.
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0";

// Color variables.
$white: rgba(255, 255, 255, 1);

$dark-gray: rgba(33, 36, 39, 1);
$opac-dark-gray: rgba(33, 36, 39, 0.25);
$light-gray: rgba(239, 241, 243, 1);
$cyan: rgba(35, 177, 193);

// Default Flex.
@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

// Common styles for border-radius and box-shadow
$common-border-radius: 2rem;
$common-box-shadow: 0.5rem 0.5rem 2.5rem 0rem $opac-dark-gray;

// Styles for cards
.card {
  border-radius: $common-border-radius;

  box-shadow: $common-box-shadow;
}
