@use "global" as *;

// Styles for Hero section.
#hero {
  position: relative;

  @include flex(flex-end, center, row);

  width: 100%;
  height: 100vh;

  background: url("/songs/yappariameha.webp") no-repeat center/cover;
  background-position-y: 20%;

  #hero-overlay {
    @include flex;

    width: 70%;

    #logo {
      @include flex(center, center, row);
      column-gap: 3.75rem;

      width: 100%;
      height: 12rem;

      h1 {
        color: $white;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// Portrait mode tablets.
@media screen and (max-width: 52rem) {
  #hero {
    height: 45rem;

    background: url("/songs/yappariameha.webp") no-repeat center/cover;

    #hero-overlay {
      #logo {
        display: none;
      }
    }
  }
}

// Mobile screens.
@media screen and (max-width: 27rem) {
  #hero {
    height: 30rem;

    background-position-x: 10%;

    background: url("/logos/hero-mobile.webp") no-repeat center/cover;

    #hero-overlay {
      #logo {
        display: none;
      }
    }
  }
}
