// Color variables

$white: rgba(245, 245, 245, 1);

$dark-gray: rgba(33, 36, 39, 1);
$opac-dark-gray: rgba(33, 36, 39, 0.25);
$cyan: rgba(35, 177, 193);

@mixin flex(
  $justify-content: center,
  $align-items: center,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}